In [80]:
for j in range(8):
    for i in range(8):
        print('#' if (i + j) % 2 == 0 else '.', end='')
    print()

#.#.#.#.
.#.#.#.#
#.#.#.#.
.#.#.#.#
#.#.#.#.
.#.#.#.#
#.#.#.#.
.#.#.#.#

In [93]:
for j in range(1, 10):
    for i in range(1, 10):
        print(i, 'x', j, '=', i * j, sep='', end='\t')
    print()

1x1=1	2x1=2	3x1=3	4x1=4	5x1=5	6x1=6	7x1=7	8x1=8	9x1=9
1x2=2	2x2=4	3x2=6	4x2=8	5x2=10	6x2=12	7x2=14	8x2=16	9x2=18
1x3=3	2x3=6	3x3=9	4x3=12	5x3=15	6x3=18	7x3=21	8x3=24	9x3=27
1x4=4	2x4=8	3x4=12	4x4=16	5x4=20	6x4=24	7x4=28	8x4=32	9x4=36
1x5=5	2x5=10	3x5=15	4x5=20	5x5=25	6x5=30	7x5=35	8x5=40	9x5=45
1x6=6	2x6=12	3x6=18	4x6=24	5x6=30	6x6=36	7x6=42	8x6=48	9x6=54
1x7=7	2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49	8x7=56	9x7=63
1x8=8	2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64	9x8=72
1x9=9	2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81

In [95]:
for j in range(1, 10):
    for i in range(1, 10):
        print('|', i * j, sep='', end='\t')
    print()

|1	|2	|3	|4	|5	|6	|7	|8	|9
|2	|4	|6	|8	|10	|12	|14	|16	|18
|3	|6	|9	|12	|15	|18	|21	|24	|27
|4	|8	|12	|16	|20	|24	|28	|32	|36
|5	|10	|15	|20	|25	|30	|35	|40	|45
|6	|12	|18	|24	|30	|36	|42	|48	|54
|7	|14	|21	|28	|35	|42	|49	|56	|63
|8	|16	|24	|32	|40	|48	|56	|64	|72
|9	|18	|27	|36	|45	|54	|63	|72	|81

In [89]:
print("при\tме\nр")

при	ме
р

In [109]:
print('Введите положительное число')
#r = 0
while int(input()) < 0:
    pass
#    r += 1
#print(r, ' попыток')

Введите положительное число
5

In [120]:
# x ** 2 = 5
# ------------0------a--x-m--b---------5---------->
a = 0
b = 5
i = 0
while b - a > 0.0000001:
    m = (a + b) / 2
    if m ** 2 > 5:
        b = m
    else:
        a = m
    i += 1
r = a
print(i)
print(r, r ** 2, r ** 2 - 5)

26
2.2360679507255554 4.999999880261985 -1.1973801505860138e-07

In [125]:
n = int(input())
m = int(input())
for i in range(n - 1):
    x = int(input())
    if x < m:
        m = x
print(m)

3
4
6
2
2

In [128]:
'Иванов' < 'Иванова'

True

In [129]:
'lEEt'.lower()

'leet'

In [138]:
x = [1, 2, 5, 9, 'xdfgxdfg', True]
x[-2]

'xdfgxdfg'

In [142]:
y = [2, 3, 4]
x + y

[1, 2, 5, 9, 'xdfgxdfg', True, 2, 3, 4]

In [145]:
(x+y)[0:7:2]

[1, 5, 'xdfgxdfg', 2]

In [146]:
z = y
z == y

True

In [151]:
[1,1,1]<[1,1,1,4]

True

In [159]:
x.append(55)

In [160]:
x

[1, 2, 5, 9, 'xdfgxdfg', True, 55, 55, 55]

In [158]:
x + [77]

[1, 2, 5, 9, 'xdfgxdfg', True, 55, 55, 77]

In [163]:
y, z

([2, 3, 4, 5], [2, 3, 4, 5])

In [162]:
y.append(5)

In [164]:
y = [2, 3, 4]
z = [2, 3, 4]
y.append(5)
y, z

([2, 3, 4, 5], [2, 3, 4])

In [182]:
y = [2, 3, 4]
z = y[:]
y.append(5)
y, z

([2, 3, 4, 5], [2, 3, 4])

In [171]:
y[:]

[2, 3, 4]

In [184]:
id(y), id(z)

(2386012234824, 2386012399752)

In [186]:
list(range(5))

[0, 1, 2, 3, 4]

In [187]:
for i in y:
    print(i)

2
3
4
5

In [189]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [195]:
a[:4] + a[5:] # slice

[0, 1, 2, 3, 5, 6, 7, 8, 9]

In [197]:
del a[5]

In [198]:
a

[0, 1, 2, 3, 4, 6, 7, 8, 9]

In [202]:
[0] * 5

[0, 0, 0, 0, 0]

In [208]:
a = [1, 2, 3, 4]
#a.reverse()
a, list(reversed(a))

([1, 2, 3, 4], [4, 3, 2, 1])

In [212]:
a = [3,5,1,2]
a.sort()
a
#sorted(a)

[1, 2, 3, 5]

In [219]:
i = -1
t = 3
if t in a:
    i = a.index(t)
i

2

In [220]:
a.find(33)

AttributeError: 'list' object has no attribute 'find'

In [229]:
a=4
amax([a])

4

In [232]:
a=[2,3,4]
sum(a)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [233]:
n = int(input())
a = []
for i in range(n):
    a.append(input())
a

3
вася
петя
коля

['вася', 'петя', 'коля']

In [235]:
for s in a:
    print(s)

вася
петя
коля

In [244]:
s = 'sample'
str(list(reversed(s)))

"['e', 'l', 'p', 'm', 'a', 's']"

In [248]:
''.join(list(reversed(s)))

'elpmas'

In [251]:
a = ['sdf', 'sdfsdf', 'sadfa']
', '.join(a)

'sdf, sdfsdf, sadfa'

In [253]:
print([[1, 2, 3], [4, 5], []])

[[1, 2, 3], [4, 5], []]

In [270]:
a = [
    [1, 2, 3, 4],
    [5, 6, 7, 2],
    [0, 4, 2, 5],
]
a

[[1, 2, 3, 4], [5, 6, 7, 2], [0, 4, 2, 5]]

In [264]:
s = 0
for i, v in enumerate(a):
    print(v, i)

0 [1, 2, 3]
1 [5, 6, 7]
2 [0, 4, 2]

In [271]:
for i in range(len(a)):
    for j in range(len(a[i])):
        print(a[i][j])

1
2
3
4
5
6
7
2
0
4
2
5

In [278]:
s = '12 34 64'
#a = []
#for v in s.split():
#    a.append(int(v))
a = list(map(int, s.split()))
a

[12, 34, 64]

In [281]:
a[2] = 77
a

[12, 34, 77]

In [284]:
s[3] = 'x'

TypeError: 'str' object does not support item assignment